.main_block {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 92px;
  grid-template-columns: 380px;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .main_block {
    grid-template-columns: 340px;
  }
}