.information_block {
  width: 100%;

  .content_page_header {
    display: flex;
    align-items: center;
    margin: 24px 0px;
    padding-left: 16px;
    background: #EBEBEB;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    color: #9B9B9B;
  
    .explore_link {
      color: #9013FE;
    }
  }

  .information_content_block {
    background: #FFFFFF;

    i {
      margin: 0px 10px; 
      color: #000000;
    }

    .image_block {
      width: 100%;
      height: 352px;
    }
    .main_block {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .main_information_block {
        width: 650px;

        .name_block {
          margin: 24px 0px;
          font-size: 36px;
          color: #9013FE;
        }

        .description_block {
          margin: 24px 0px;
          font-size: 16px;
          color: #000000;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .information_block {
    .information_content_block {
      .main_block {
        .main_information_block {
          width: 100%;
        }
      }
    }
  }
}