.header_block {
  background: #7828B4;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.header_title_block {
  @extend .header_block;
  grid-area: header_title;
  
  .header_title {
    width: 300px;
    margin-left: 70px;
    font-size: 36px;
  }
}

.header_search_block {
  @extend .header_block;
  grid-area: header_search;

  .header_search_input_block{
    width: 388px;
    border: none;
    border-bottom: 1px #FFFFFF solid;
  }
  .header_search_input {
    width: 350px;
    margin-left: 20px;
    background: #7828B4;
    border: none;
    font-size: 20px;
    color: rgba(255,255,255,0.50);
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255,255,255,0.50);
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(255,255,255,0.50);
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(255,255,255,0.50);
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(255,255,255,0.50);
  }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .header_search_block {
    background: #EBEBEB;

    .header_search_input_block{
      margin: 0px 40px;
      width: 100%;
      color: #000000;
      border-bottom: 1px #000000 solid;
    }

    .header_search_input {
      width: 90%;
      background: #EBEBEB;
      color: #000000;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #9B9B9B;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #9B9B9B;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #9B9B9B;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #9B9B9B;
    }
  }

  .header_title_block {
    .header_title {
      text-align: center;
      margin-left: 0px;
      width: 100%;
      font-size: 36px;
    }
  }
}

