.content_data_block {
  background: #F2F2F2;
  padding-right: 40px; 
}

.search_count_text {
  padding: 24px 0px 10px 0px;
  color: #000000;
  font-size: 24px;
}

.search_result_count {
  color: #7828B4;
  line-height: 28px;
}