.side_search_block {
  background: #F2F2F2;
  grid-area: content_search;

  .search_block {
    font-size: 20px;
    width: 300px;
    margin-left: 35px;
    background: #EBEBEB;

    .search_content {
      padding:24px 35px 12px;
      border-bottom: 1px solid #D7D7D7;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .side_search_block {
    .search_block {
      margin-left: 0px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .side_search_block {
    display: none;
  }
  .search_free_option {
    width: 100%;
  }
}
