.data_block {
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 24px;
}

.image_block {
  height: auto;
  width: 520px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; 
}

.content_block{
  margin: 24px 20px;

  .name_block {
    a {
      margin-bottom: 16px;
      font-size: 24px;
      color: #9013FE;
      line-height: 36px;
    }
  }

  .description_block {
    margin-bottom: 13px;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
  }

  .detail_block {
    color: #9B9B9B;
    div {
      display: inline-block;
    }
    i {
      margin: 0px 10px; 
      color: #000000;
    }
  }
}

.zone_block {
  margin-bottom: 16px;
  .zone_tag {
      padding: 3px 16px;
      font-size: 16px;
      color: #FFFFFF;
      background: #D7D7D7;
      border-radius: 30px;
  }
}


@media screen and (min-width: 0px) and (max-width: 1000px) {
  .data_block {
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }
  .image_block {
    height: 200px;
    width: 100%;
  }

  .detail_block {
    display: flex;
    flex-wrap: wrap;
    div {
      width: 100%;
      display: block;
    }
  }
}
